@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open sans';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b6b3aa;
}

.game {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 100px;
    background: #ffd538;
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E); 
    background: linear-gradient(to right, #FFD200, #F7971E);
    height: 550px;
    width: 800px;
    min-width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    border: #ffd538;
    border-radius: 20px;
}

.blur {
    transition: 0.5s;
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

.game-screen {
    flex: 2;
    display: flex;
}

.game-log-container {
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-log {
    width: 90%;
    max-width: 268px;
    height: 85%;
    display: flex;
    border: 0.90px solid #333333;
    border-radius: 20px;
    font-size: 50px;
    background-color: #333333;
    font-weight: 800;
    line-height: 1.2em;
    color: rgb(238, 238, 238);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.scoreboard-container {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 800;
    font-size: 150px;
}

.you-text {
    left: 40px;
}

.computer-text {
    right: 40px;
}

.indicator {
    position: absolute;
    top: 20px;
    font-weight: 300;
    font-size: 20px;
}

.option-screen {
    flex: 1.5;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-selection-container {
    position: relative;
    width: 100%;
    height: 100%;
    border: 0.90px solid #333333;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #333333;
    display: flex;
    flex-direction: column;
}

.choose-text {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: rgb(238, 238, 238);
}
.btn-container {
    flex: 1;
    display: flex;
    position: relative;
    margin-top: -20px;
    justify-content: space-evenly;
    align-items: center;
}
.selection {
    border: transparent;
    border-radius: 20px;
    transition:0.5s;
}

.selection:hover {
    transform: translateY(-8px);
    cursor: pointer;
}
.selection:active {
    transform: scale(0.95);
}

#result {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#result h1 {
    font-size: 30px;
    color: #181818;
}

#result.active {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.button-1 {
    border-radius: 6px;
    background-color:  #ffd538;
    border: none;
    color: #000000;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    margin-top: 10px;
    width: 220px;
    margin: auto;
    transition: all 0.2s;
    cursor: pointer;
    outline: none;
}

.button-1:hover {
    background-color: #d4b131;
  }
.button-1:active {
    transform: scale(0.95);
  }





@media only screen and (max-width: 860px) {
    .game-screen {
        flex-direction: column;
    }
    .game-log-container {
        flex: 0.7;
    }
    .game-log {
        max-width: 90%;
        font-size: 40px;
    }
    .score-text {
        font-size: 120px;
    }
}
@media only screen and (max-width: 700px) {
    .game {
        margin: 0;
        width: 100vw;
        height: 100vh;
        border-radius: 0px;
    }
    .item-selection-container {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    

}

@media only screen and (max-width: 330px) {
    #result h1 {
        font-size: 20px;
    }
    body {
        margin: auto;
        width: 100%;
    }
    
}